{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    1
    <div class="card-body"></div>
    <div id="ton-connect"></div>
    <script src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuid.min.js"></script>
    <script src="https://unpkg.com/@tonconnect/sdk@3.0.5/dist/tonconnect-sdk.min.js"></script>
    <script src="https://unpkg.com/@tonconnect/ui@latest/dist/tonconnect-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/qrcodejs@1.0.0/qrcode.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const my_uuid = uuid.v4();
            function init() {
                var tables = $(".card-body");
                for (var table of tables) {
                    var url = `tc://?v=2&id=${my_uuid}&r=%7B%22manifestUrl%22%3A%22${encodeURIComponent('https://ton-auth-dyanashek.amvera.io/tonconnect-manifest.json')}%22%2C%22items%22%3A%5B%7B%22name%22%3A%22ton_addr%22%7D%5D%7D&ret=none`;
                    console.log(url)
                    var qrcode = new QRCode(table, {
                        text: url,
                        width: 256,
                        height: 256,
                        colorDark: "#000000",
                        colorLight: "#ffffff",
                        correctLevel: QRCode.CorrectLevel.M
                    });
                }
            }
            if (my_uuid) {
                init();
            }
        })
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const connector = new TonConnectSDK.TonConnect({
                manifestUrl: 'https://ton-auth-dyanashek.amvera.io/tonconnect-manifest.json'
            });
            const walletConnectionSource = {
                universalLink: 'https://app.tonkeeper.com/ton-connect',
                bridgeUrl: 'https://bridge.tonapi.io/bridge'
            }
            wallets = connector.getWallets();
            console.log(wallets)
            const universalLink = connector.connect(walletConnectionSource);
            console.log(universalLink)
            connector.onStatusChange((status) => {
                console.log('it changed!!!!')
                if (status === 'connected') {
                    console.log('Пользователь подключился!', connector.account);
                }
            });
        })
    </script>
    <script>
        const tonConnectUI = new TON_CONNECT_UI.TonConnectUI({
            manifestUrl: 'https://ton-auth-dyanashek.amvera.io/tonconnect-manifest.json',
            buttonRootId: 'ton-connect'
        });
    </script>
</body>
</html>
