{% extends "base.html" %}
{% block content %}
    ПРОФИЛЬ
    <a href='https://oauth.telegram.org/auth?bot_id=6430717403&origin=https://ton-auth-dyanashek.amvera.io&return_to=https://ton-auth-dyanashek.amvera.io/profile'>Telegram</a>
    <button onclick="transaction()">pay TON</button>
    <div id="ton-connect" style="backgroundcolor: black;"></div>
{% endblock %}
{% block js %}
<script>
    console.log(connector)
    async function transaction() {
        const transaction = {
            validUntil: Math.round(Date.now() / 1000) + 100,
            messages: [
                {
                    address: '0:f8c8062b36e2d31082d1d40dfe16311eb6bdb2775b3080de66720363dda790c8',
                    amount: 1000000,
                }
            ]
        }
        try {
            l = await tonConnectUI.sendTransaction(transaction);
        } catch (error) {
            console.log('cancelled')
        }
    }
</script>
{% endblock %}
